<section id="books">
  <h2>
    Books enjoyed
  </h2>
  <table>
    <tr>
      <th>Programming</th>
    </tr>
    <tbody class="books">
      <tr>
        <td>
          <u>Current:</u>
          <a
            href="https://www.amazon.com/CUDA-Example-Introduction-General-Purpose-Programming/dp/0131387685/ref=sr_1_4?keywords=cuda&qid=1585376361&s=books&sr=1-4"
            title="cuda"
            >CUDA Programming</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a
            href="https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882"
            title="clean"
            >Clean Code</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a
            href="https://www.amazon.com/Extreme-Programming-Explained-Embrace-Change/dp/0321278658/ref=sr_1_1?keywords=extreme+programming&qid=1585376119&s=books&sr=1-1"
            title="X"
            >Extreme Programming</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a
            href="https://www.amazon.com/Test-Driven-Development-Kent-Beck/dp/0321146530/ref=sr_1_3?crid=N434B0GU6A4B&keywords=test+driven+development&qid=1585376177&s=books&sprefix=test+drive%2Cstripbooks%2C200&sr=1-3"
            title="TDD"
            >Test Driven Development</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a
            href="https://www.amazon.com/Game-Programming-Patterns-Robert-Nystrom/dp/0990582906/ref=sr_1_2?crid=74539UXRJQ6W&keywords=game+design+patterns&qid=1585454849&sprefix=game+patterns+de%2Caps%2C300&sr=8-2"
            title="Game prgramming!"
            >Game Programming Patterns</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a
            href="https://www.amazon.com/Pragmatic-Programmer-Journeyman-Master/dp/020161622X/ref=sr_1_2?crid=3AUABNW05NAA9&keywords=the+The Pragmatic Programmer: From Journeyman to Masteapragmatic+programmer&qid=1585454918&sprefix=pragmatt%2Caps%2C400&sr=8-2"
            title="PP"
            >The Pragmatic Programmer: From Journeyman to Master</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</section>
<!-- /books -->
