<body>
  <div class="chickens">
    <h2>Chickens</h2>
    Chickens require the least maintenance of the flock. They run down our hill
    when they see us come outside, flapping their wings, gliding down, sometimes
    to flight. We let them roam freely within our backyard fenced in area. The
    rooster protects them by alerting for hawks and finds them food by
    scratching and foraging. You never want more than 1 rooster per half a dozen
    hens or so, or else they'll fight, but you want them around for their great
    defensive properties.
    <br />

    <h3>Barred Rock</h3>
    Is what we call them in Tennessee, their full name is
    <a href="https://en.wikipedia.org/wiki/Plymouth_Rock_chicken"
      >Plymouth Rock</a
    >. They are
    <font color="black" style="background-color: white;">black</font> with
    <font color="white" style="background-color: black;">white</font>
    spots and stripes. Very sweet chickens, definitely one the smarter types,
    one of ours has learned to climb our goat fence by hooking her feet into the
    second to last top rows and hopping over to get more food outside our fence.
    She's smart enough to get back in when she wants as well.
    <br />

    <center>
      Female Baby
      <img src="../assets/images/farm/baby_barred_rock.jpg" />

      Female Adult
      <img src="../assets/images/farm/adult_barred_rock.jpg" />
    </center>

    <h3>Bantam</h3>
    Tiny chickens! The
    <a href="https://en.wikipedia.org/wiki/Bantam_(poultry)">Bantam</a> are cute
    and routinely jump through our gate door. They come in different color
    feathers, ones we've had were
    <font color="yellow" style="background-color: blue;">yellow</font>/<font
      color="white"
      style="background-color: black;"
      >white</font
    >
    and <font color="brown" style="background-color: #aad3e3;">brown</font>.
    Their eggs are tiny, about half as big as regular chicken eggs, but still
    just as good. Will be the lowest on the pecking order if left with their
    bigger-sized flock.
    <br />

    <center>
      Female Baby
      <img src="../assets/images/farm/baby_bantam.jpg" />

      Female Adult
      <img src="../assets/images/farm/adult_bantam.jpg" />
    </center>
  </div>

  <div class="ducks">
    <h2>Ducks</h2>
    Ducks were our second flock type, they quickly became my favorite because
    they greet you with large motioning tail wagging and happy loud quaking. I
    tend to quack back at them or make excited sounds and they perk up very
    fast. They love it when they have a clean water pond to clean themselves and
    play. An easy way to tell between male and female are their quacks. Drakes
    will make a neutral sound that sounds more guttural, think Donald Duck.
    Females make the onomatopoeia <b>*quack*</b> sound. Males also sometimes
    have a curled back feather and broader heads.
    <br />

    <h3>American Pekin</h3>
    <a href="https://en.wikipedia.org/wiki/American_Pekin">American Pekins</a>
    are probably what you think of when you think of a duck, considering how
    well-known Donald Duck is. They are a sleek
    <font color="white" style="background-color: black;">white</font> color,
    that when comparing their feather in front of a snowy background, have a
    <font color="lightyellow" style="background-color: darkblue;"
      >yellowish</font
    >
    tint.
    <br />

    <center>
      Male and Female Babies
      <img src="../assets/images/farm/baby_pekin.jpg" />
      Donald - Male Adult
      <img src="../assets/images/farm/donald.jpg" />
    </center>

    <h3>Khaki Campbell</h3>
    <a href="https://en.wikipedia.org/wiki/Khaki_Campbell">Khaki Campbell</a>
    Are the other type of duck that may come to mind easily, they're usually a
    mix of colors of
    <font color="brown" style="background-color: #aad3e3;">brown</font>,
    <font color="green" style="background-color: magenta;">green</font>,
    <font color="tan" style="background-color: #2d4b73;">tan</font>, and
    <font color="white" style="background-color: black;">white</font>.

    <br />

    <center>
      Baby
      <img src="../assets/images/farm/baby_khaki_campbell.jpg" />
      Randy - Male Adult (notice the curly tail!)
      <img src="../assets/images/farm/khaki_campbell_adult_male.jpg" />
    </center>

    <h3>Blue Sweedish</h3>
    They're definitely a hue of blue!
    <a href="https://en.wikipedia.org/wiki/Swedish_Blue">Swedish Blue</a>
    <br />

    <center>
      Female Babies
      <img src="../assets/images/farm/baby_blue_sweedish.jpg" />
    </center>
  </div>
</body>
