<img src="../assets/images/logo.png" />
<img src="../assets/images/self.jpg" />
<br />
<center>
  <a href="../assets/docs/resume.pdf">• Resume - 2022 PDF HERE •</a><br />
</center>
<h2>About Me:</h2>
<dl>
  <dt>Navy veteran,</dt>
  <dd>
    I like to listen to
    <a href="https://soundcloud/vanities">electronic/hip-hop music</a>,
    <a href="https://github.com/vanities">program software</a>, lift weights and
    run, take care of my farm.
    <br />
  </dd>
</dl>
<!-- /me -->

<!-- school -->
<section id="school">
  <h2>School:</h2>
  <dl>
    <dt>
      <font color="#009ad6">
        <a href="http://www.mtsu.edu" title="GO BLUE!!" class="ioda">
          Middle Tennessee State University
        </a>
      </font>
    </dt>
    <dd>
      <p>
        2014 - 2018
        <br />
        <u>Bachelor of Science (B.S.), Computer Science</u>
        <br />
        <u>Minor in Mathematics</u>
        <br />
        • Dean’s List 2014-2018 <br />
        • Member of Association of Computing Machinery (ACM) <br />
        • Member of the Upsilon Pi Epsilon Computer Honor Society
        <br />
      </p>
    </dd>
  </dl>
</section>
<!-- /school -->

<!-- work -->
<section id="work">
  <h2>Work:<br /></h2>
  <div class="section">
    <dl>
      <dt>
        <font color="#af1e8c">
          FunFunFun Inc. -
          <a href="https://www.funfunfun.app/">Gen Z Dating</a>
        </font>
      </dt>
      <dd>
        <p>
          May 2020 - June 2022
          <br />
          <u>Full-Stack Software Engineer</u>
          <br />
          • <b>First Engineering Hire</b>: Subject Matter Expert on a live
          updating video dating app that integrated with TikTok with over 10,000
          users, where users could like, match, and message each-other.
          <br />
          • <b>Backend</b>: Built a Django and GraphQL REST API and a matching
          algorithm to pair users together with alike parameters. Created a
          series of Firebase, Firestore, and Google Storage Typescript triggers
          to create a video processing pipeline that asynchronously cut over
          8,000 videos.
          <br />
          • <b>Frontend</b>: Deployed a complete SwiftUI iOS app from the ground
          up to app store. Contributed to an internal Typescript React webpage
          to police uploaded media and content used by admins.
          <br />
          • <b>DevOps</b>: Used GitHub actions to create an CI/CD pipeline for
          testing and deploying the backend and iOS using fastlane for multiple
          environments
          <br />
        </p>
      </dd>
    </dl>

    <hr />
    <dl>
      <dt>
        <font color="#030080">
          Coinmine -
          <a href="https://coinmine.com/">Making Crypto Mining Easy</a>
        </font>
      </dt>
      <dd>
        <p>
          May 2018 - April 2020
          <br />
          <u>Software Engineer</u>
          <br />
          • <b>First Engineering Hire</b>: Built a plug-and-play cryptocurrency
          miner that mined 6 different cryptocurrencies 24/7, that a user could
          control with their iOS or Android phone.
          <br />
          • <b>mineOS</b>: Built and maintained mineOS, an Arch Linux-Based
          Operating System, onto a small form factor computer. Fabricated the
          build and deployment tools for distributing mineOS images through a
          test and build pipeline to remotely update over 5,000 miners.
          <br />
          • <b>Backend</b>: Used Agile, Extreme Programming and Test Driven
          Development methodologies to deploy, update, and configure a Django
          based REST API with over 10,000 users. Created programmatic reports to
          calculate all accounting owed and owned.
          <br />
          • <b>DevOps</b>: Arranged and operated analytical, deployment, and
          pipeline tools such as: CircleCI, Code Climate, Datadog, and Sentry
          <br />
          • <b>Communication</b>: Worked with overseas distribution centers in
          China to construct and create Standard Operating Procedures (SOP) for
          assembly and manufacturing
          <br />
        </p>
      </dd>
    </dl>

    <hr />

    <dl>
      <dt>
        <font color="#009ad6">
          Middle Tennessee State University - Walker Library
        </font>
      </dt>
      <dd>
        <p>
          November 2015 - March 2018
          <br />
          <u> Student Technology Assistant </u>
          <br />
          • Assists in student’s technical difficulties and maintain printer
          functionality while routing questions to proper resources.
          <br />
          • Trains students on 3D printing technology, laser etching, and vinyl
          cutting in the MakerSpace.
          <br />
          • Troubleshoot and solve for quick workplace solutions.
          <br />
        </p>
      </dd>
    </dl>

    <hr />

    <dl>
      <dt>
        <font color="#ffcd11">
          Caterpillar Financial Services Corporation
        </font>
      </dt>
      <dd>
        <p>
          May 2017 – July 2017
          <br />
          <u> Information Services Intern-Network Team</u>
          <br />
          • <b>Leadership</b>: Led research, meetings, and recommended the
          replacement of a network team application. Worked as liaison between
          team members and company solutions, then sought out quote to be
          implemented into the yearly budget.
          <br />
          • <b>Problem Solving</b>: Researched and developed a web dashboard
          that displayed global network information with Python and Flask using
          a SQL database. Used JavaScript, J-Query, Bootstrap, AJAX, and Google
          Charts to form a coherent and simple-to-use website. Implemented a
          search function that integrated with database calls to speed up
          information flow.
          <br />
          • <b>Process Improvement</b>: Six Sigma Green Belt Trained
          <br />
          • <b>Public Speaking</b>: Completed both projects within scope and
          presented both projects to the entire CAT Financial leadership and
          received Excellent feedback
          <br />
        </p>
      </dd>
    </dl>

    <hr />

    <dl>
      <dt>
        <font color="#00022f"> United States Navy </font>
      </dt>
      <dd>
        <p>
          July 2008 - July 2016
          <br />
          <u> Computer and Network Technician, Fire controlman (FC)</u>
          <br />
          • <b>Leadership</b>: Efficiently led as work center supervisor,
          supervising 8 personnel in accomplishing over 1,634 maintenance
          actions with a 94% maintenance accomplishment rate, managing 372
          maintenance checks and repairs.
          <br />
          • <b>Security Clearance</b>: Held a Secret Clearance and handled the
          Electronic Key Management System, which managed 106 classified
          software programs and hardware systems.
          <br />
          • <b>Preventative & Corrective Maintenance</b>: Upkeep and corrective
          maintenance of the Ship’s Self Defense System, Open architecture
          network server and computer systems, Battle Force Tactical Trainer
          network, and Cooperative Engagement Capability LAN.
          <br />
          • <b>Teamwork</b>: Assisted in the successful overhaul of 3 major
          system installs with lead engineers to include: Hardware, software,
          and network installation, troubleshooting to the perfection of the
          system.
          <br />
        </p>
      </dd>
    </dl>
  </div>
</section>
