<img
  src="https://raw.githubusercontent.com/vanities/vanities.github.io/master/assets/images/logo.png"
/>
<img
  src="https://media.githubusercontent.com/media/vanities/vanities.github.io/master/assets/images/self.jpg"
/>
<br />
<center>
  <a
    href="https://media.githubusercontent.com/media/vanities/vanities.github.io/master/assets/docs/resume.pdf"
    >• Resume - 2024 PDF HERE •</a
  ><br />
</center>
<h2>About Me:</h2>
<dl>
  <dt>Navy veteran,</dt>
  <dd>
    I love my family and like to
    <a href="https://github.com/vanities">program software</a>, lift weights and
    run, and take care of my farm.
    <br />
  </dd>
</dl>
<!-- /me -->

<!-- school -->
<section id="school">
  <h2>School:</h2>
  <dl>
    <dt>
      <font color="#009ad6">
        <a href="http://www.mtsu.edu" title="GO BLUE!!" class="ioda">
          Middle Tennessee State University
        </a>
      </font>
    </dt>
    <dd>
      <p>
        2014 - 2018
        <br />
        <u>Bachelor of Science (B.S.), Computer Science</u>
        <br />
        <u>Minor in Mathematics</u>
        <br />
        • Dean’s List 2014-2018 <br />
        • Member of Association of Computing Machinery (ACM) <br />
        • Member of the Upsilon Pi Epsilon Computer Honor Society
        <br />
      </p>
    </dd>
  </dl>
</section>
<!-- /school -->

<!-- work -->
<section id="work">
  <h2>Work:<br /></h2>
  <div class="section">
    <dl>
      <dt>
        <font color="#002F6C">
          <a href="https://www.ford.com"> Ford Motor Company</a>
        </font>
        <img
          src="https://media.githubusercontent.com/media/vanities/vanities.github.io/master/assets/images/ford.gif"
        />
      </dt>
      <dd>
        <p>
          January 2023 - August 2024
          <br />
          <u>Creative Technology Expert</u>
          <br />
          • <b>Software Expert</b>: Demonstrated technical expertise and
          adaptability by developing multiple prototypes for the BlueCruise
          Audio Tour Guide Experience iOS app and the Apple Vision Pro
          BlueCruise experience, showcasing proficiency in cutting-edge
          technologies like React, React Native, iOS, CarPlay, VisionOS,
          Android, and Android Auto.
          <br />
          • <b>Leadership</b>: Demonstrated leadership and a collaborative
          approach by actively contributing to the XD Process and Deliverables
          team, focusing on enhancing operational efficiency, minimizing waste,
          and developing tools like the Agile Sprint Canvas Board for improved
          communication and transparency across stakeholders.
          <br />
        </p>
      </dd>
    </dl>

    <dl>
      <dt>
        <!-- https://archive.ph/m0JD3 -->
        <font color="#fff000">
          Open3
          <a
            href="https://scienceinc.medium.com/nfts-empowering-artists-with-open3-ceo-matty-mo-f9279a252ff0"
            >Digital Art</a
          >
        </font>
        <img
          src="https://media.githubusercontent.com/media/vanities/vanities.github.io/master/assets/images/open3.png"
        />
      </dt>
      <dd>
        <p>
          July 2022 - December 2022
          <br />
          <u>Senior Full-Stack Software Engineer</u>
          <br />
          • <b>Focused Execution</b>: Developed a website from the ground up in
          just 3 months, attracting over 17,000 verified users and hosting 68
          partners and their projects, including renowned brands like Liquid
          Death.
          <br />
          • <b>Leadership</b>: Collaborated with artists and brands to create
          digital art, deploying over 33 smart contracts that resulted in the
          sale of more than 100,000 art pieces.Worked alongside Artists and
          Brands to generate digital art and deployed over 33 smart contracts
          that sold over 100,000 art pieces.
          <br />
        </p>
      </dd>
    </dl>

    <hr />
    <dl>
      <dt>
        <!-- https://archive.ph/m0JD3 -->
        <font color="#af1e8c">
          FunFunFun Inc. -
          <a href="https://www.funfunfun.app/">Gen Z Dating</a>
        </font>
        <img
          src="https://media.githubusercontent.com/media/vanities/vanities.github.io/master/assets/images/funfunfun.png"
        />
      </dt>
      <dd>
        <p>
          May 2020 - June 2022
          <br />
          <u>Full-Stack Software Engineer</u>
          <br />
          • <b>First Engineering Hire</b>: Served as the Subject Matter Expert
          for a live-updating video dating app integrated with TikTok, which
          attracted over 10,000 users. The app enabled users to like, match, and
          message each other in real-time.
          <br />
          • <b>Backend</b>: Developed a Django and GraphQL REST API along with a
          matching algorithm to pair users based on similar parameters. Created
          a video processing pipeline using Firebase, Firestore, and Google
          Storage TypeScript triggers, which asynchronously processed and cut
          over 8,000 videos.
          <br />
          • <b>Frontend</b>: Launched a SwiftUI iOS app from the ground up and
          successfully deployed it to the App Store. Also contributed to an
          internal TypeScript React webpage, enabling admins to monitor and
          manage uploaded media and content.
          <br />
          • <b>DevOps</b>: Implemented a CI/CD pipeline using GitHub Actions to
          automate testing and deployment for both the backend and iOS app,
          utilizing Fastlane to manage multiple environments.
          <br />
        </p>
      </dd>
    </dl>

    <hr />
    <dl>
      <dt>
        <!-- https://archive.ph/YrPIu -->
        <font color="#030080">
          Coinmine -
          <a href="https://www.coindesk.com/tag/coinmine/"
            >Making Crypto Mining Easy</a
          >
        </font>
        <img
          src="https://media.githubusercontent.com/media/vanities/vanities.github.io/master/assets/images/coinmine.jpg"
        />
      </dt>
      <dd>
        <p>
          May 2018 - April 2020
          <br />
          <u>Software Engineer</u>
          <br />
          • <b>First Engineering Hire</b>: Developed a plug-and-play
          cryptocurrency miner capable of mining six different cryptocurrencies
          24/7, allowing users to control the device through their iOS or
          Android phones.
          <br />
          • <b>mineOS</b>: Developed and maintained MineOS, an Arch Linux-based
          operating system for small form factor computers. Created build and
          deployment tools to distribute MineOS images, enabling remote updates
          for over 5,000 miners through a test and build pipeline.
          <br />
          • <b>Backend</b>: Utilized Agile, Extreme Programming, and Test-Driven
          Development methodologies to deploy, update, and configure a
          Django-based REST API serving over 10,000 users. Developed
          programmatic reports to calculate all accounting assets.
          <br />
          • <b>DevOps</b>: Configured and managed analytical, deployment, and
          pipeline tools including CircleCI, Code Climate, Datadog, and Sentry.
          <br />
          • <b>Communication</b>: Collaborated with overseas distribution
          centers in China to develop and implement Standard Operating
          Procedures (SOPs) for assembly and manufacturing.
          <br />
        </p>
      </dd>
    </dl>

    <hr />

    <dl>
      <dt>
        <font color="#009ad6">
          Middle Tennessee State University - Walker Library
        </font>
      </dt>
      <dd>
        <p>
          November 2015 - March 2018
          <br />
          <u> Student Technology Assistant </u>
          <br />
          • Assisted in student’s technical difficulties and maintain printer
          functionality while routing questions to proper resources.
          <br />
          • Trained students on 3D printing technology, laser etching, and vinyl
          cutting in the MakerSpace.
          <br />
          • Troubleshot and solved for quick workplace solutions.
          <br />
        </p>
      </dd>
    </dl>

    <hr />

    <dl>
      <dt>
        <font color="#ffcd11">
          Caterpillar Financial Services Corporation
        </font>
      </dt>
      <dd>
        <p>
          May 2017 – July 2017
          <br />
          <u> Information Services Intern-Network Team</u>
          <br />
          • <b>Leadership</b>: Led research and meetings to recommend replacing
          a network team application. Acted as the liaison between team members
          and company solutions, and obtained quotes for integration into the
          annual budget.
          <br />
          • <b>Problem Solving</b>: Researched and developed a web dashboard
          using Python and Flask with a SQL database to display global network
          information. Utilized JavaScript, jQuery, Bootstrap, AJAX, and Google
          Charts to create a user-friendly interface. Implemented a search
          function that integrated with database calls to enhance information
          retrieval speed.
          <br />
          • <b>Process Improvement</b>: Six Sigma Green Belt Trained
          <br />
        </p>
      </dd>
    </dl>

    <hr />

    <dl>
      <dt>
        <font color="#00022f"> United States Navy </font>
      </dt>
      <dd>
        <p>
          July 2008 - July 2016
          <br />
          <u> Computer and Network Technician, Fire controlman (FC)</u>
          <br />
          • <b>Leadership</b>: Efficiently led as work center supervisor,
          supervising 8 personnel in accomplishing over 1,634 maintenance
          actions with a 94% maintenance accomplishment rate, managing 372
          maintenance checks and repairs.
          <br />
          • <b>Security Clearance</b>: Held a Secret Clearance and handled the
          Electronic Key Management System, which managed 106 classified
          software programs and hardware systems.
          <br />
          • <b>Preventative & Corrective Maintenance</b>: Upkeep and corrective
          maintenance of the Ship’s Self Defense System, Open architecture
          network server and computer systems, Battle Force Tactical Trainer
          network, and Cooperative Engagement Capability LAN.
          <br />
          • <b>Teamwork</b>: Assisted in the successful overhaul of 3 major
          system installs with lead engineers to include: Hardware, software,
          and network installation, troubleshooting to the perfection of the
          system.
          <br />
        </p>
      </dd>
    </dl>
  </div>
</section>
