<img src="../assets/images/logo.png" />
<img src="../assets/images/self.jpg" />
<br />
<center>
  <a href="../assets/docs/resume.pdf">• Resume - 2022 PDF HERE •</a><br />
</center>
<h2>About Me:</h2>
<dl>
  <dt>Navy veteran,</dt>
  <dd>
    I like to listen to
    <a href="https://soundcloud/vanities">electronic/hip-hop music</a>,
    <a href="https://github.com/vanities">program software</a>, lift weights and
    run, take care of my farm.
    <br />
  </dd>
</dl>
<!-- /me -->

<!-- school -->
<section id="school">
  <h2>School:</h2>
  <dl>
    <dt>
      <font color="#009ad6">
        <a href="http://www.mtsu.edu" title="GO BLUE!!" class="ioda">
          Middle Tennessee State University - 3.67 GPA
        </a>
      </font>
    </dt>
    <dd>
      <p>
        2014 - 2018
        <br />
        <u>Bachelor of Science (B.S.), Computer Science</u>
        <br />
        <u>Minor in Mathematics</u>
        <br />
        • Dean’s List 2014-2018 <br />
        • Member of Association of Computing Machinery (ACM) <br />
        • Member of the Upsilon Pi Epsilon Computer Honor Society
        <br />
      </p>
    </dd>
  </dl>
</section>
<!-- /school -->

<!-- work -->
<section id="work">
  <h2>Work:<br /></h2>
  <div class="section">
    <dl>
      <dt>
        <font color="#af1e8c">
          FunFunFun Inc. -
          <a href="https://www.funfunfun.app/">Gen Z Dating</a>
        </font>
      </dt>
      <dd>
        <p>
          May 2020 - June 2022
          <br />
          <u>Full-Stack Software Engineer</u>
          <br />
          • Created a live updating video dating app that integrated with TikTok
          with over 10,000 users, where users could like, match, and message
          eachother.
          <br />
          • Built a Django and GraphQL with CI/CD tools using GitHub actions and
          a matching algorithm to pair users together with alike parameters.
          <br />
          • Created a series of Firebase, Firestore, and Google Storage
          Typescript triggers to create a video processing pipeline that
          asynchronously cut over 8,000 videos.
          <br />
          • Contributed to a Typescript React webpage to police uploaded media
          and content to display info for product managers.
          <br />
          • Deployed a fully SwiftUI iOS app from the ground up to deploy
          directly to the App Store with a fully UI testable local environment.
          <br />
        </p>
      </dd>
    </dl>

    <hr />
    <dl>
      <dt>
        <font color="#030080">
          Coinmine -
          <a href="https://coinmine.com/">Making Crypto Mining Easy</a>
        </font>
      </dt>
      <dd>
        <p>
          May 2018 - April 2020
          <br />
          <u>Software Engineer</u>
          <br />
          • Built and maintained mineOS, an Arch Linux-Based Operating System,
          onto a small form factor computer that mined 6 different
          cryptocurrencies 24/7 that users could plug and play at home.
          <br />
          • Fabricated the build and deployment tools for distributing mineOS
          images through a test and build pipeline for over 3000 miners.
          <br />
          • Used Agile, Extreme Programming and Test Driven Development
          methodologies to deploy, update, and configure a Django based backend
          with over 8,000 users.
          <br />
          • Arranged and operated analytical, deployment, and pipeline tools
          such as: CircleCI, Code Climate, Datadog, and Sentry.
          <br />
          • Collaborated with React Native Engineer to build smooth frontend
          experience between API and Coinmine machine.
          <br />
          • Worked with overseas distribution centers in China to construct and
          create Standard Operating Procedures (SOP) for assembly and
          manufacturing.
          <br />
        </p>
      </dd>
    </dl>

    <hr />

    <dl>
      <dt>
        <font color="#009ad6">
          Middle Tennessee State University - Walker Library
        </font>
      </dt>
      <dd>
        <p>
          November 2015 - March 2018
          <br />
          <u> Student Technology Assistant </u>
          <br />
          • Assists in student’s technical difficulties and maintain printer
          functionality while routing questions to proper resources.
          <br />
          • Trains students on 3D printing technology, laser etching, and vinyl
          cutting in the MakerSpace.
          <br />
          • Troubleshoot and solve for quick workplace solutions.
          <br />
        </p>
      </dd>
    </dl>

    <hr />

    <dl>
      <dt>
        <font color="#ffcd11">
          Caterpillar Financial Services Corporation
        </font>
      </dt>
      <dd>
        <p>
          May 2017 – July 2017
          <br />
          <u> Information Services Intern-Network Team</u>
          <br />
          • Led research, meetings, and recommended the replacement of a network
          team application. Worked as liaison between team members and company
          solutions. Sought out quote to be implemented into the yearly budget.
          <br />
          • Researched and developed a web dashboard that displayed global
          network information with Python and Flask using a SQL database. Used
          JavaScript, J-Query, Bootstrap, AJAX, and Google Charts to form a
          coherent and simple-to-use website. Implemented a search function that
          integrated with database calls to speed up information flow. Worked
          with team members from Middleware to get the site running through
          Apache, then to Network Security to make the site vulnerability free.
          <br />
          • Six Sigma Green Belt Trained.
          <br />
          • Completed both projects beyond scope and presented both projects to
          the entire CAT Financial leadership and received Excellent feedback.
          <br />
        </p>
      </dd>
    </dl>

    <hr />

    <dl>
      <dt>
        <font color="#00022f"> United States Navy </font>
      </dt>
      <dd>
        <p>
          July 2008 - July 2016
          <br />
          <u> Computer and Network Technician, Fire controlman (FC)</u>
          <br />
          • Upkeep and corrective maintenance of an aircraft carrier's ship self
          defense system (CVN-69).
          <br />
          • Held a Secret Clearance and handled the Electronic Key Management
          System, managing 106 classified software programs and hardware
          systems.
          <br />
          • Upkeep and corrective maintenance of the Ship's Self Defense System,
          Open Architecture, Battle Force Tactical Trainer, and Cooperative
          Engagement Capability computers and network systems.
          <br />
          • Efficiently led as work center supervisor, 8 personnel in
          accomplishing over 1,634 maintenance actions with a 94% maintenance
          accomplishment rate, managing 372 maintenance checks and repairs.
          <br />
          • Assisted in the successful overhaul of 3 major system installs with
          lead engineers to include: Hardware, software, and network
          installation, troubleshooting to the perfection of the systems.
          <br />
        </p>
      </dd>
    </dl>
  </div>
</section>
